.gallery {
    .heading {
        margin: 120px 0 45px 0;
    }

    .gallery-photos{
        margin-bottom: 142px;;
        .flex-gap {
            // margin-bottom: 12px;

            .image{
                width: 100%;
            }
        }
    }
}