* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.header__top {
  background-color: #216096;
  color: #fff;
}
.header__top--bar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.header__top--bar-left, .header__top--bar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}
.header__top--bar-left-location, .header__top--bar-left-phnno, .header__top--bar-right-location, .header__top--bar-right-phnno {
  display: flex;
}
.header__top--bar-left-social__icons--icons, .header__top--bar-right-social__icons--icons {
  font-size: 20px;
}
.header__bottom {
  padding: 4px;
  margin: 0 20px;
}
.header__bottom .navb {
  font-size: 16px;
  color: black;
  margin-left: 550px;
}
.header__bottom img {
  margin-left: 40px;
}
.header__bottom .ditem {
  text-transform: uppercase;
  color: #216096;
  text-align: left;
}

.hero__content {
  border: none;
}
.hero .card-img-overlay {
  margin: 50px 0;
  padding: 4rem !important;
}
.hero .card-title {
  font-size: 50px;
  font-weight: 700;
  color: #216096;
  text-transform: uppercase;
}
.hero .card-text {
  font-size: 18px;
  color: grey;
  padding: 15px 0 10px 0;
  line-height: 1.3;
}

.btn__primary {
  color: #fff;
  background-color: #dea01e;
  border: none;
  padding: 14px 28px;
}

@media (max-width: 1200px) {
  .hero .card-img-overlay {
    margin: 40px;
    padding: 15px !important;
  }
  .hero .card-title {
    font-size: 25px;
  }
  .hero .card-text {
    font-size: 16px;
  }

  .btn__primary {
    padding: 9px 12px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .hero .card-img-overlay {
    margin: 15px;
    padding: 5px !important;
  }
  .hero .card-title {
    font-size: 20px;
  }
  .hero .card-text {
    font-size: 15px;
  }

  .btn__primary {
    padding: 5px 8px;
    font-size: 15px;
  }
}
.top {
  margin: 50px 0;
}
.top .title {
  line-height: 4;
  padding: 0 15px;
}
.top .title span {
  font-size: 20px;
  font-weight: 500;
  color: #216096;
}
.top .title span .horizontal--line {
  width: 40px;
  height: 3px;
  color: #216096;
  opacity: 1;
  margin-top: -42px;
  margin-left: 175px;
}
.top .title span .ml {
  margin-left: 210px;
}
.top .title span .mll {
  margin-left: 260px;
}
.top .title h2 {
  font-size: 33px;
  font-weight: 900;
}

.services {
  margin: 50px;
}
.services__bottom--border {
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}
.services__bottom-card-img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.services__bottom-card__image--overlay {
  margin-bottom: 15px;
  text-align: center;
}
.services__bottom--img {
  margin-top: -49px;
  border-radius: 50%;
  height: 95px;
  width: 95px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.services__bottom--wrapper {
  padding: 0px 28px;
}
.services__bottom--wrapper h3 {
  font-weight: bold;
  font-size: 22px;
}
.services__bottom--wrapper p {
  font-size: 15px;
  color: grey;
  font-family: "Open Sans", sans-serif;
}
.services__bottom--wrapper .view__more {
  color: #216096;
  font-size: 13px;
  margin: 0 0px 15px 0;
}

.clients {
  margin: 100px;
}

.aboutus {
  margin: 100px;
}
.aboutus__bottom--testimonial {
  background-color: #99cedf21;
  margin: 20px 0px;
  border-radius: 10px;
}
.aboutus__bottom--testimonial__img {
  text-align: right;
}
.aboutus__bottom--testimonial__img--img {
  margin-top: -33px;
  margin-right: 50px;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}
.aboutus__bottom--testimonial__content {
  padding: 20px;
}
.aboutus__bottom--testimonial__content p {
  font-size: 15px;
  color: grey;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
.aboutus__bottom--testimonial__info h4.name {
  font-size: 20px;
  font-weight: bold;
}
.aboutus__bottom--testimonial__info span.role {
  color: #216096;
}

.contact__form {
  background-color: #ccd5dc;
}
.contact__form--img {
  width: 100%;
  height: auto;
}
.contact__form--wrapper {
  background-color: #fff;
  margin: 25px;
  padding: 15px;
  border-radius: 8px;
}
.contact__form--wrapper h5 {
  margin: 20px;
  text-align: center;
  font-weight: 600;
}
.contact__form--wrapper input[type=text], .contact__form--wrapper input[type=email], .contact__form--wrapper select, .contact__form--wrapper textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.contact__form--wrapper label {
  padding: 10px 0;
  font-family: "Open Sans", sans-serif;
  color: grey;
}
.contact__form--button {
  margin: 8px 0;
}

.footer {
  margin: 50px;
}
.footer__wrapper {
  font-size: 15px;
  color: grey;
  font-family: "Open Sans", sans-serif;
}
.footer__wrapper--img {
  width: 60%;
  height: auto;
  margin: 0 0 25px 0;
}
.footer__wrapper h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 22px 0 45px 0;
  color: black;
}
.footer__wrapper--list-items {
  line-height: 1.6;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.footer__bottom--wrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #216096;
  text-align: center;
  margin: 30px 0;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mt-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.pt-1 {
  padding: 0 1px;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mt-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.pt-2 {
  padding: 0 2px;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mt-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.pt-3 {
  padding: 0 3px;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mt-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.pt-4 {
  padding: 0 4px;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mt-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.pt-5 {
  padding: 0 5px;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mt-6 {
  margin: 0 6rem;
}

.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.pt-6 {
  padding: 0 6px;
}

.m-7 {
  margin: 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.mt-7 {
  margin: 0 7rem;
}

.p-7 {
  padding: 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.pt-7 {
  padding: 0 7px;
}

.m-8 {
  margin: 8rem;
}

.my-8 {
  margin: 8rem 0;
}

.mt-8 {
  margin: 0 8rem;
}

.p-8 {
  padding: 8rem;
}

.py-8 {
  padding: 8rem 0;
}

.pt-8 {
  padding: 0 8px;
}

.m-9 {
  margin: 9rem;
}

.my-9 {
  margin: 9rem 0;
}

.mt-9 {
  margin: 0 9rem;
}

.p-9 {
  padding: 9rem;
}

.py-9 {
  padding: 9rem 0;
}

.pt-9 {
  padding: 0 9px;
}

.m-10 {
  margin: 10rem;
}

.my-10 {
  margin: 10rem 0;
}

.mt-10 {
  margin: 0 10rem;
}

.p-10 {
  padding: 10rem;
}

.py-10 {
  padding: 10rem 0;
}

.pt-10 {
  padding: 0 10px;
}

/*# sourceMappingURL=style.css.map */
