.footer {
    background: #0E4360;
    padding: 31px;
    margin-bottom: 1px;
    
    &--text{
        font-family: 'Rajdhani', sans-serif;
        color: #fff;
        font-weight: 400;
        font-size: 22px;
    }
}