.services{
    font-family: 'Rajdhani', sans-serif;
    width: 372px;

    &--heading {
        font-weight: 600;
        font-size: 40px;
        color: #0E4360;
    }

    &--details{
        font-weight: normal;
        font-size: 22px;
        line-height: 28px;
        margin-top: 30px;
    }
}